<p>
  <strong>Name:</strong>
  <%= shopping_list_item.food_item_name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= shopping_list_item.quantity %>
</p>

<p>
  <strong>Unit:</strong>
  <%= shopping_list_item.food_item_unit %>
</p>
