<h1>Edit Recipe</h1>

<%= render "form", recipe: @recipe %>

<h3>Ingredients (<%= link_to "add", new_recipe_ingredient_path(@recipe) %>)</h3>
<ul>
  <%= render partial: @recipe.ingredients, locals: {editable: true} %>
</ul>
