<h1><%= @food_item.name %></h1>

<ul>
  <li><%= link_to "Edit", edit_food_item_path(@food_item) %></li>
  <li><%= link_to "Destroy", food_item_path(@food_item),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>
